.xhl.bb1 {color:#02c378}
.xhl.bb2 {color:#bfbd2c}
.xhl.bb3 {color:#ed1c24}
.xhl.bb1.xhint-hover {background-color:rgba(2,195,120,0.2)}
.xhl.bb2.xhint-hover {background-color:rgba(191,189,44,0.2)}
.xhl.bb3.xhint-hover {background-color:rgba(237,28,36,0.2)}
.legend .xhl.bb1 {background-color:#02c378}
.legend .xhl.bb2 {background-color:#bfbd2c}
.legend .xhl.bb3 {background-color:#ed1c24}
.xhl.bb1.xhint {border-bottom: dotted 1px #02c378;}
.xhl.bb2.xhint {border-bottom: dotted 1px #bfbd2c;}
.xhl.bb3.xhint {border-bottom: dotted 1px #ed1c24;}


.xhl.slop1 {color:#02c378;}
.xhl.slop2 {color:#bfbd2c;}
.xhl.slop3 {color:#ed1c24;}

.xhl.slop1.xhint-hover {background-color:rgba(2,195,120,0.2)}
.xhl.slop2.xhint-hover {background-color:rgba(191,189,44,0.2)}
.xhl.slop3.xhint-hover {background-color:rgba(237,28,36,0.2)}

.xhl.slop1.xhint {border-bottom: dotted 1px #02c378;}
.xhl.slop2.xhint {border-bottom: dotted 1px #bfbd2c;}
.xhl.slop3.xhint {border-bottom: dotted 1px #ed1c24;}

.legend .xhl.slop1 {background-color:#02c378;}
.legend .xhl.slop2 {background-color:#bfbd2c;}
.legend .xhl.slop3 {background-color:#ed1c24;}


.xhl.fog1 {color: #595ca9 }/*{color:#4444FF;}*/
.xhl.stop1 {color: #7687e2 } /*{color:#44A1FF;}*/
.xhl.fog1.xhint-hover {background-color:rgba(89,92,169,0.2);}
.xhl.stop1.xhint-hover {background-color:rgba(118,135,226,0.2);}
.legend .xhl.fog1 {background-color: #595ca9 } /* {background-color:#4444FF;} */
.legend .xhl.stop1 {background-color: #7687e2 } /* {background-color:#44A1FF;} */

.xhl.doubles1 {color:#592db2; border-bottom: dotted 1px #592db2;}
.xhl.doubles2 {color:#8767a6; border-bottom: dotted 1px #8767a6;}
.xhl.doubles3 {color:#bf2bbc; border-bottom: dotted 1px #bf2bbc;}
.xhl.doubles4 {color:#b872f3; border-bottom: dotted 1px #b872f3;}
.xhl.doubles5 {color:#f19ce6; border-bottom: dotted 1px #f19ce6;}
.xhl.doubles1.stm-hover {background-color:rgba(89,45,178,0.2);}
.xhl.doubles2.stm-hover {background-color:rgba(135,103,166,0.2);}
.xhl.doubles3.stm-hover {background-color:rgba(191,43,188,0.2);}
.xhl.doubles4.stm-hover {background-color:rgba(184,114,243,0.2);}
.xhl.doubles5.stm-hover {background-color:rgba(241,156,230,0.2);}

.xhl.top_and1, .xhl.top_notstop1 {color:#c4262e; border-bottom: dotted 1px #c4262e;}
.xhl.top_and2, .xhl.top_notstop2 {color:#ff0000; border-bottom: dotted 1px #ff0000;}
.xhl.top_and1.stm-hover, .xhl.top_notstop1.stm-hover {background-color:rgba(196,38,46,0.2);}
.xhl.top_and2.stm-hover, .xhl.top_notstop2.stm-hover {background-color:rgba(255,0,0,0.2);}


.xhl.queries1, .xhl.cqueries1 {color:#f768bd;}
.xhl.queries_strict1, .xhl.cqueries2 {color:#ec008c;}
.xhl.queries1.xhint-hover, .xhl.cqueries1.xhint-hover {background-color:rgba(247,104,189,0.2);}
.xhl.queries_strict1.xhint-hover, .xhl.cqueries2.xhint-hover {background-color:rgba(236,0,140,0.2);}
.legend .xhl.queries1, .legend .xhl.cqueries1 {background-color:#f768bd;}
.legend .xhl.queries_strict1, .legend .xhl.cqueries2 {background-color:#ec008c;}


.xhl.fre1, .xhl.ari1 {color:#1cbbb4;}
.xhl.fre2, .xhl.ari2 {color:#158c87;}
.xhl.fre1.xhint-hover, .xhl.ari1.xhint-hover {background-color:rgba(28,187,180,0.2);}
.xhl.fre2.xhint-hover, .xhl.ari2.xhint-hover {background-color:rgba(21,140,135,0.2);}
.legend .xhl.fre1, .legend .xhl.ari1 {background-color:#1cbbb4;}
.legend .xhl.fre2, .legend .xhl.ari2 {background-color:#067873;}


.xhl.misprints1 {background-color:#ffaaaa}

.xhl.xhint.xhint-lgnd {border-bottom-color:#d9d9d9}

.stmhl-active {background-color:#ececec;}
.stmhl-btn {cursor: pointer}

.xhint-active {background-color:#ececec;}




